
<div class="clearfix" style="padding: 10px; padding-left: 0px">
<img src="http://corporate.renault-trucks.com/media/image/CP-jpg/logo_ecole_centrale_lyon.jpg" width="450px" style="display: inline-block; margin-top: 5px;">
<br>
<br>
<br>
<h1 style="color:rgb(150,0,0)">  Séance 1 : Parsing des données et premier affichage </h1>
</div>

<h1 style="color:rgb(150,0,0)">  I. Présentation de la séance  </h1>

<div >

<h2 style="color:rgb(0,0,150)"> A. Objectifs </h2>

<p>
Cette séance sera consacrée au chargement des données de Google TakeOut et à une première visualisation.
<br>
Nous nous sommes en particulier inspiré du repository GitHub <a href= https://gist.github.com/chrisalbon/0a55b7b5ef6584e672cd > suivant.</a>  
<br> Pour l'affichage des données sur une carte; nous ne visons pas une correspondance parfaite entre les points relevés et le fond de carte. Il s'agit plutôt de travailler sur une représentation qui nous permette de comprendre à quoi correspondent les différents points.

<div >

<h2 style="color:rgb(0,0,150)"> B. Analyse technique</h2>

<p>
Les données Google TakeOut sont des fichiers JSON extremement long. Pour les exploiter, nous allons utiliser les objets <b> panda.dataFrame </b> .
<br> Pour commencer, nous allons travailler sur les données de géolocalisation s'étalant sur une année d'une personne de notre groupe.
<br>

<h1 style="color:rgb(150,0,0)">  II. Code  </h1>

<div >

<h2 style="color:rgb(0,0,150)"> A. Extraction des données JSON</h2>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

In [2]:
# Loading data
file = "Data/Takout/anonymous_2015.json"
raw = pd.io.json.read_json(file)

In [3]:
# Expand the locations column into a dataframe
# This lets us move down one level in the json structure
df = raw['locations'].apply(pd.Series)

### Visulation des données extraites du fichiers json.

In [4]:
df

,accuracy,activity,altitude,heading,latitudeE7,longitudeE7,timestampMs,velocity
0,103,NaN,NaN,NaN,377611139,-1224707537,1468723321167,NaN
1,12,NaN,36.0,NaN,377611139,-1224707537,1468723302999,0.0
2,12,NaN,49.0,NaN,377611139,-1224707537,1468723287999,0.0
3,20,"[{'timestampMs': '1468723265584', 'activity': ...",NaN,NaN,377610871,-1224706561,1468723272489,NaN
4,12,NaN,16.0,NaN,377613962,-1224707777,1468723251000,0.0
5,24,NaN,-2.0,97.0,377614779,-1224708291,1468723235859,0.0
6,8,NaN,53.0,NaN,377611288,-1224706699,1468723213999,0.0
7,8,"[{'timestampMs': '1468723193414', 'activity': ...",45.0,NaN,377611288,-1224706699,1468723197999,0.0
8,113,NaN,NaN,NaN,377613010,-1224708133,1468723182663,NaN
9,12,NaN,43.0,NaN,377613010,-1224708133,1468723163000,0.0
10,12,NaN,43.0,NaN,377612172,-1224708260,1468723148000,0.0
11,48,NaN,53.0,356.0,377610324,-1224708574,1468723132089,4.0
12,48,NaN,61.0,92.0,377609316,-1224707038,1468723112444,0.0
13,143,"[{'timestampMs': '1468723088624', 'activity': ...",NaN,NaN,377611577,-1224707335,1468723096941,NaN
14,16,NaN,53.0,NaN,377611312,-1224707098,1468723078000,0.0
15,12,NaN,55.0,NaN,377611181,-1224706943,1468723063000,0.0
16,6,NaN,55.0,NaN,377610952,-1224707291,1468723048000,0.0
17,6,NaN,55.0,NaN,377610952,-1224707291,1468723033000,0.0
18,32,NaN,49.0,NaN,377612090,-1224706588,1468723017632,0.0
19,32,NaN,55.0,NaN,377612090,-1224706588,1468723002637,NaN
20,8,NaN,64.0,NaN,377611233,-1224707147,1468722987000,0.0
21,8,NaN,58.0,NaN,377611233,-1224707147,1468722971999,0.0
22,32,"[{'timestampMs': '1468722961057', 'activity': ...",47.0,NaN,377611735,-1224707530,1468722956772,0.0
23,64,NaN,90.0,340.0,377606059,-1224705181,1468722941394,19.0
24,12,NaN,60.0,NaN,377611394,-1224707957,1468722921000,0.0
25,8,"[{'timestampMs': '1468722910266', 'activity': ...",63.0,NaN,377610620,-1224707476,1468722906000,0.0
26,8,NaN,57.0,NaN,377609937,-1224707539,1468722890090,0.0
27,8,NaN,62.0,NaN,377611232,-1224707205,1468722873999,0.0
28,8,NaN,62.0,NaN,377610346,-1224707060,1468722857999,0.0
29,12,"[{'timestampMs': '1468722822037', 'activity': ...",61.0,NaN,377610346,-1224707060,1468722827999,0.0
...,...,...,...,...,...,...,...,...
101813,40,NaN,NaN,NaN,457839847,47690395,1442588402146,NaN
101814,40,NaN,NaN,NaN,457839764,47691159,1442588150684,NaN
101815,33,NaN,NaN,NaN,457839826,47690592,1442588026218,NaN
101816,30,NaN,NaN,NaN,457840031,47691218,1442587976854,NaN
101817,37,NaN,NaN,NaN,457839645,47691231,1442587843253,NaN
101818,39,NaN,NaN,NaN,457839716,47691034,1442587711800,NaN
101819,30,NaN,NaN,NaN,457839997,47690870,1442587526792,NaN
101820,30,NaN,NaN,NaN,457839562,47692454,1442587354808,NaN
101821,34,NaN,NaN,NaN,457839632,47691198,1442587261877,NaN
101822,39,NaN,NaN,NaN,457839654,47692015,1442587046725,NaN
101823,30,NaN,NaN,NaN,457839612,47692401,1442586822391,NaN
101824,30,NaN,NaN,NaN,457839912,47690574,1442586700400,NaN
101825,30,NaN,NaN,NaN,457839750,47692124,1442586562108,NaN
101826,36,NaN,NaN,NaN,457839904,47690545,1442586557234,NaN
101827,30,"[{'timestampMs': '1442586216618', 'activity': ...",NaN,NaN,457839604,47691471,1442586334255,NaN
101828,37,NaN,NaN,NaN,457839754,47690160,1442585722774,NaN
101829,96,NaN,319.0,32.0,457840283,47690507,1442585015187,3.0
101830,30,NaN,NaN,NaN,457839681,47691701,1442584803151,NaN
101831,30,NaN,NaN,NaN,457839623,47691471,1442584704313,NaN
101832,30,NaN,NaN,NaN,457839664,47691633,1442584575091,NaN
101833,39,NaN,NaN,NaN,457839943,47690130,1442584414002,NaN
101834,30,NaN,NaN,NaN,457839759,47692116,1442584271893,NaN
101835,40,NaN,NaN,NaN,457839845,47690367,1442584149826,NaN
101836,34,NaN,NaN,NaN,457839926,47690542,1442584091926,NaN
101837,27,NaN,NaN,NaN,457840177,47689958,1442583783219,NaN
101838,30,"[{'timestampMs': '1442583652814', 'activity': ...",NaN,NaN,457839723,47692173,1442583650307,NaN
101839,30,NaN,NaN,NaN,457839902,47690668,1442583529213,NaN
101840,30,"[{'timestampMs': '1442583428687', 'activity': ...",NaN,NaN,457839707,47692141,1442583409248,NaN
101841,30,"[{'timestampMs': '1442583294803', 'activity': ...",NaN,NaN,457839652,47692103,1442583266909,NaN
101842,42,NaN,NaN,NaN,457839479,47690914,1442583002771,NaN

### Transformation des lattitudes et longitudes au format standart

In [5]:
# Create a list from the latitude and the longitude column, multiplied by -E7
df['latitude'] = df['latitudeE7'] * 0.0000001
df['longitude'] = df['longitudeE7'] * 0.0000001

<div >

<h2 style="color:rgb(0,0,150)"> B. Premier affichage sur une carte </h2> 

On affiche dans un premier temps les données sur la France entière, pour cela il faut précsier les latitudes extrèmes du plan sur lequel on souhaite se placer.

In [14]:
 map = Basemap(projection='merc', lat_0=0, lon_0=0,
    resolution = 'l', area_thresh = 1000.0,
    llcrnrlon=-5, llcrnrlat=42,
    urcrnrlon=9, urcrnrlat=51)

In [15]:
x,y = map(df['longitude'].values, df['latitude'].values)

In [16]:
plt.figure(figsize=(20, 10))
map.drawcountries()
map.drawcoastlines()
map.plot(x, y, 'ro', markersize=6)

/Users/roland/anaconda3/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3260: MatplotlibDeprecationWarning: The ishold function was deprecated in version 2.0.
  b = ax.ishold()
/Users/roland/anaconda3/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3269: MatplotlibDeprecationWarning: axes.hold is deprecated.
    See the API Changes document (http://matplotlib.org/api/api_changes.html)
    for more details.
  ax.hold(b)

### Visualisation des données sur la ville de Lyon

In [9]:
lyon_map = Basemap(projection='merc', lat_0=0, lon_0=0,
    resolution = 'h', area_thresh = 1,
    llcrnrlon=4.715027, llcrnrlat=45.666496,
    urcrnrlon=5.039811, urcrnrlat=45.866714)

In [17]:
plt.figure(figsize=(20,10))
lyon_map.drawcountries()
lyon_map.drawcoastlines()
lyon_map.plot(x, y, 'ro', markersize=3)

/Users/roland/anaconda3/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3260: MatplotlibDeprecationWarning: The ishold function was deprecated in version 2.0.
  b = ax.ishold()
/Users/roland/anaconda3/lib/python3.6/site-packages/mpl_toolkits/basemap/__init__.py:3269: MatplotlibDeprecationWarning: axes.hold is deprecated.
    See the API Changes document (http://matplotlib.org/api/api_changes.html)
    for more details.
  ax.hold(b)

<h1 style="color:rgb(150,0,0)">  III. Conclusion</h1>

<h2 style="color:rgb(0,0,150)"> A. Bilan</h2>

Cette séance, nous sommes parvenus à nos objectifs. Toutefois nous notons que le fond de carte que nous utilisons n'est pas très adapté. Il ne représente que les frontières des pays; il n'est donc d'aucune aide pour représenter les trajets au sein d'une ville.

<h2 style="color:rgb(0,0,150)"> B. Travail à faire de la prochaine séance </h2>
<br>
Lors de la prochaine séance, nous travaillerons sur :
<ul> 
    <li> Enlever les fonctions 'depricated' </li> 
    <li> Re-travailler sur le fond de carte </li> 
    <li> Organiser nos données pour pouvoir y accéder jour par jour </li>
    <li> Tracer de premiers trajets, ie relier les points de façon cohérente </li>
    <li> Commencer à travailler sur le nettoyage des trajets </li>
</ul>